*{
    background-color: black;
    color: #fff;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

input, button{
    background-color: #fff;
    color: black;
    display: block;
    margin-bottom: 8px;
    padding: 8px;
    width: 100%;
}

.message{
    background-color: #fff;
    color: black;
    padding: 8px;
    display: none;
    text-transform: capitalize;
    font-weight: bold;
}

.right{
    background-color: green;
    color: black; 
}

.wrong{
    background-color: red;
    color: black;
}